.input {
    & form {
        height: 40px;
        display: flex;
        align-items: center;
    }

    & input {
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        background-color: white;
        font-size: 18px;
        text-align: center;
        border: 2px solid black;
        border-right: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
            &:focus {
                outline: none;
            }
        }

    & button {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        color: black;
        cursor: pointer;
        transition: 0.5s background-color;

        &:focus {
            outline: none;
        };

        &:hover {
            background-color: #68b0ab;
        }
    }
}