.list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;


    &:last-child {
        margin-bottom: 0;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        width: 300px;
        min-height: 40px;
        background-color: white;
        font-size: 18px;
        border-radius: 5px;
        border: 2px solid black;

        &_done {
            text-decoration: line-through;
            color: grey;
        }
    }

    &__buttons {
        margin-left: 15px;
        display: flex;
    }

    &__button {       
        width: 40px;
        height: 40px;
        border: none;
        color: black;
        background-color: white;
        border: 2px solid black;
        cursor: pointer;
        transition: 0.5s background-color;

        &:focus {
            outline: none;
        }

        &_done {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border-right: none;
            
            &:hover {
                background-color: #68b0ab;
            }
        }

        &_edit {
            border-left: none;
            border-right: none;
            &:hover {
                background-color: #d9c6a5;
            }
        }

        &_delete {
            border-left: none;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            &:hover {
                background-color: #726a95;
            }
        }
    }
}