* {
  font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    margin: 0;
    background: linear-gradient(to right,#d9c6a5, #f7e7bd);
    display: flex;
    justify-content: center;
}
