* {
  font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    margin: 0;
    background: linear-gradient(to right,#00798c, #30638e);
    display: flex;
    justify-content: center;
}
